* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("../images/bg9.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 160px;
}

.main-container h1 {
  text-align: center;
}

.title-description {
  text-align: center;
  width: 900px;
  margin: auto;
  padding-top: 30px;
}

/* Navigation */

nav {
  background-color: #fff;
  height: 80px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topnav {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #7048e8;
}

.top-logo {
  position: absolute;
  top: -13px;
  left: 168px;
}

/* Choose Flights */

.container {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 190px;
}

.flight-card-container {
  background-color: #fff;
  width: 70%;
  height: 200px;
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.main-flight-details {
  padding: 12px;
  background-color: #ddd;
  border: 12px solid #fff;
  border-right: 16px solid #fff;
  border-radius: 10px;
}

.main-flight-details-top {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
}

.container-flights-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.airport-and-time {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.destination1,
.destination2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}

.destination1-time,
.destination2-time {
  font-size: 18px;
}

.right-side-of-card {
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.class-container {
  display: flex;
  justify-content: space-between;
}

.eco-container,
.business-container {
  width: 248px;
  background-color: #ddd;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 14px;
  border-radius: 10px;

  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
}

.business-container {
  margin-right: 12px;
}

.class-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 6px;
}

.from-text {
  text-align: center;
  font-size: 12px;
}

.class-price {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.button-form {
  width: 96px;
  height: 36px;
  margin-top: -3px;
  margin-left: 200px;
}

.button-form button {
  color: #fff;
  background-color: #7048e8;
  border: 1px solid #7048e8;
  border-radius: 10px;
  padding: 8px 26px;
  cursor: pointer;
  font-weight: 500;
}

.button-form button:hover {
  background-color: #fff;
  color: #7048e8;
  border: 1px solid #7048e8;
}

/* footer */

.social-icon {
  margin: 20px 10px;
}

.footer-distributed {
  background: #7048e8;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed .footer-left h3 {
  color: #fff;
  font-size: 24px;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 15px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 10px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #f8f8f8;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #f8f8f8;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
