* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: #fff;
    height: 80px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.topnav a {
    color: #000;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #7048e8;
}

.top-logo {
    position: absolute;
    top: -13px;
    left: 168px;
}

h2 {
    text-align: center;
    color: #444;
    font-size: 26px;
    margin-bottom: 64px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}


.input-boxes {
    position: relative;

}


/* New Classes */
h1 {
    text-align: center;
}


.title-description {
    text-align: center;
    width: 900px;
    margin: auto;
    padding-top: 60px;
}

.manage-box {
    background-color: #fff;
    width: 900px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 55px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.manage-description {
    background-color: #fff;
    width: 900px;
    height: 250px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.last-name {
    width: 220px;
    height: 30px;
    margin-top: 50px;
    margin-left: 40px;
}

.ref-number {
    width: 400px;
    height: 30px;
}

.manage-buttons {
    border: none;
    color: #fff;
    background-color: #7048e8;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 7px;
}

.manage-buttons:hover {
    color: #7048e8;
    background-color: #fff;
    border: 1px solid #7048e8;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 2em;
    margin-bottom: 1 em;
    margin-left: 30px;
    margin-right: 0;
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
}

h3{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}